<div class="modal-header">
  <p>{{ confirmationMessage }}</p>
</div>

<div class="modal-body">
  <form #resultForm="ngForm">
    <div class="row">
      <div class="form-group col-sm-12 col-md-12">
        <label class="d-inline-flex">
          {{ 'user.profile.currentPassword' | translate }}
        </label>
        <input name="currentPassword"
               class="form-control"
               type="password"
               #currentPassword="ngModel"
               [(ngModel)]="model.currentPassword"
               required="true"
               pattern="{{ passwordRegex }}">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 col-md-12">
        <div class="form-group d-flex m-0 align-items-center">
          <label>
            {{ 'user.profile.newPassword' | translate }}
          </label>
          <span class="d-inline-flex">
            <app-help-tooltip class="ml-1"
                              tooltipText="{{ 'regExpRequirementText.password' | translate }}">
            </app-help-tooltip>
          </span>
        </div>
        <input name="newPassword"
               class="form-control"
               [ngClass]="{
                'is-invalid': (newPassword.touched || newPasswordConfirmation.touched) && !arePasswordsEqual()
              }"
               type="password"
               #newPassword="ngModel"
               [(ngModel)]="model.newPassword"
               required="true"
               pattern="{{ passwordRegex }}">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 col-md-12">
        <label class="d-inline-flex">
          {{ 'user.profile.newPasswordConfirmation' | translate }}
        </label>
        <input name="newPasswordConfirmation"
               class="form-control"
               [ngClass]="{
                'is-invalid': (newPassword.touched || newPasswordConfirmation.touched) && !arePasswordsEqual()
              }"
               type="password"
               #newPasswordConfirmation="ngModel"
               [(ngModel)]="model.newPasswordConfirmation"
               required="true"
               pattern="{{ passwordRegex }}">

        <div class="invalid-feedback"
             *ngIf="(newPassword.touched || newPasswordConfirmation.touched) && !arePasswordsMatching">
          {{ 'user.profile.passwordsDoNotMatch' | translate }}
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-sm btn-primary"
          [disabled]="!resultForm?.form.valid || !arePasswordsMatching"
          (click)="submit()">{{ 'buttons.change' | translate }}</button>

  <button type="button"
          class="btn btn-sm btn-outline-dark"
          ngbAutofocus
          (click)="modal.close(false)">{{ 'buttons.cancel' | translate }}</button>
</div>