<form #forgottenPasswordForm="ngForm"
      style="padding: 3em; box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15)">
  <h5 class="pb-3 text-center">
    {{ "user.forgottenPassword.title" | translate }}
  </h5>

  <div class="row">
    <div class="form-group col-sm-12 col-md-4 offset-md-4">
      <label class="d-inline-flex">
        {{ "user.forgottenPassword.email" | translate }}
      </label>

      <input type="text"
             name="email"
             class="form-control form-control-sm"
             [(ngModel)]="model.email"
             pattern="{{emailRegex}}"
             required />
    </div>

    <div class="col-sm-12 col-md-4 offset-md-4">
      <button class="btn btn-primary"
              style="width: 100%"
              (click)="sendForgottenPassword()"
              [disabled]="!forgottenPasswordForm.valid">
        {{ "buttons.send" | translate }}
      </button>
    </div>

    <div class="form-group col-sm-12 col-md-4 offset-md-4 mt-2 text-center">
      <a [routerLink]="['/login']">
        {{ "user.forgottenPassword.back" | translate }}
      </a>
    </div>
  </div>
</form>