.red-border {
  border: 1px solid #dc3545;
}

.hover:hover {
  cursor: pointer;
}

.btn-remove {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.btn-blue {
  background-color: #135496;
  color: white;
}

.btn-blue:hover {
  background-color: #113e6b;
}